@use "variables" as var;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*  this make the a-inner-links scroll not jump*/
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body {
  // background-color: var.$c-light;
  font-family: 'Poppins', sans-serif;
  height: 100vh;
}
ul,
li,
a {
  text-decoration: none;
  list-style: none;
  color: inherit;
}

main {
  margin-top: 5rem;
  width: calc(100vw - 16px);
}
.main{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
