@use "variables" as var;
.header {
  width: calc(100vw - 16px);
  position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: var.$c-green;
    border-bottom: 2px solid var.$c-green;
    margin-bottom: 1rem;
  }
  
  .header ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .header ul li {
    margin-left: 20px;
  }
  
  .header ul li a {
    display: flex;
    align-items: center;
  }
  
  .header ul li a:hover {
    color: #777;
  }
  
  .header ul li a svg {
    margin-right: 5px;
  }