@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  cursor: none;
  box-sizing: border-box;
  /*  this make the a-inner-links scroll not jump*/
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  cursor: none;
  background-color: #ebddcf;
  font-family: "Poppins", sans-serif;
  height: 100vh;
}

ul,
li,
a {
  text-decoration: none;
  list-style: none;
  color: inherit;
}

main {
  margin-top: 5rem;
  width: calc(100vw - 16px);
}

.main {
  display: grid;
  grid-template-columns: repeat(4, 25vw [col-start]);
}

.card {
  cursor: none;
  margin: 7px;
  margin-bottom: 3rem;
  width: calc(24vw - 16px);
}
.card__text {
  padding: 7px;
  display: flex;
  justify-content: space-evenly;
}
.card__text p:first-child {
  font-weight: 600;
}
.card__text p:last-child {
  display: flex;
}

.card img {
  padding: 7px;
  width: calc(24vw - 16px);
  border-radius: calc((24vw - 16px) / 2);
  border: 2px solid #779708;
  transition: 0.2s ease-in-out;
}

.card img:hover {
  border-radius: 0;
}

.btn {
  margin-left: 5px;
  padding: 1px 7px;
  border-radius: 5px;
  border: 2px solid #779708;
  background: #ebddcf;
  color: #779708;
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  appearance: button;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s ease-in-out;
  transform: scale(0.95);
}

.btn:hover {
  background-color: #637f02;
  border: 2px solid #637f02;
  color: #ebddcf;
}

.btn:active {
  transform: scale(0.9);
}

.btn svg {
  margin-right: 8px;
}

.btn-reverse {
  background: #fff;
  color: #000;
}

.btn-block {
  width: 100%;
  margin-bottom: 20px;
}

.logo {
  font-weight: 700;
  color: #ebddcf;
}

.header {
  z-index: 9;
  width: calc(100vw - 16px);
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #779708;
  border-bottom: 2px solid #779708;
  margin-bottom: 1rem;
}

.header ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header ul li {
  margin-left: 20px;
}

.header ul li a {
  display: flex;
  align-items: center;
}

.header ul li a:hover {
  color: #777;
}

.header ul li a svg {
  margin-right: 5px;
}

canvas {
  display: block;
  position: fixed;
  z-index: -1;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.cursor {
  z-index: 11;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 2px solid #637f02;
  transition: all 200ms ease-out;
  position: fixed;
  pointer-events: none;
  left: 0;
  top: 0;
  transform: translate(calc(-50% + 15px), -50%);
}

.cursor2 {
  z-index: 11;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: #779708;
  opacity: 0.5;
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: width 0.3s, height 0.3s, opacity 0.3s;
}

.hover {
  background-color: red;
  opacity: 0.5;
}

.cursorinnerdown {
  width: 50px;
  height: 50px;
  opacity: 0.5;
}

.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #779708;
  opacity: 0.2;
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #b52034 transparent #b52034 transparent;
  border-radius: 50%;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.row {
  cursor: none;
  margin: 7px;
  margin-bottom: 3rem;
  width: calc(24vw - 16px);
}
.row__text {
  padding: 7px;
  display: flex;
  justify-content: space-evenly;
}

.add, .row img {
  z-index: 0;
  padding: 7px;
  width: calc(24vw - 16px);
  height: calc(24vw - 16px);
  opacity: 1;
  border-radius: calc((24vw - 16px) / 2);
  border: 2px solid #779708;
  transition: 0.5s ease-in-out;
}

.row img:hover {
  opacity: 0.5;
}

.add {
  background-color: #779708;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add:hover {
  opacity: 0.5;
}

.add p {
  font-weight: 400;
  color: #ebddcf;
  font-size: 4rem;
}

/*# sourceMappingURL=style.css.map */
